{%extends 'base.html'%} {%block element%} {%load static%}
 <!--main body -->
<main>
<div class="container about-margin">

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <h2>About Us</h2>
    <p class="about-text">HomeCollate is a user-friendly digital platform, which brings a new experience of comparing different Accomodation companies. OUR MISSION is "To provide the easiest way to compare different Accomodation Companies". Our 24/7 support team of experts are committed to helping you discover, compare, and book value-for-money student accommodation at no additional cost.</p>    
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
     <img class="img-responsive" src="../images/about-1.png" width=100%" >
  </div>
</div>
</div>


<div class="row">

  <div class="col-sm-6 col-md-6 col-lg-6">

     <img class="img-responsive" src="../images/about-2.png" width=80%" >
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Our Story</h2>
    <p class="about-text">Our journey started with a simple discussion on the challenges faced by the students, in finding a suitable accomodation in an unknown city. So with the aim of solving this common issue, we came up with an idea of comparing different PG companies under the same roof.
All our team members work day and night to implement this idea into reality.
This leads to the succesful launching of HomeCollate in October, 2018.</p>    
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <h2>Prestige For Students</h2>
    <p class="about-text">HomeCollate is a user-friendly digital platform, which brings a new experience of comparing different Accomodation companies. OUR MISSION is "To provide the easiest way to compare different Accomodation Companies". Our 24/7 support team of experts are committed to helping you discover, compare, and book value-for-money student accommodation at no additional cost.</p>    
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
     <img class="img-responsive" src="../images/about-1.png" width=100%" >
  </div>
</div>
</div>

<div class="row">

  <div class="col-sm-6 col-md-6 col-lg-6">

     <img class="img-responsive" src="../images/about-2.png" width=80%" >
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Income For Accomodation Companies</h2>
    <p class="about-text">If you are a property owner who wish to list your property on Homecollate.com for free, We work with you to showcase your property in the best possible manner and reach out to the vast student community to bring maximum leads your way.</p>    
  </div>
</div>
  
</div>


</main>
{%endblock%}