{%load static%}
<!doctype html>
<html>

<head>
    <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{%static 'css/one-page-wonder.min.css'%}" type="text/css" rel="stylesheet">

    <title>Homecollate</title>

</head>

<body>
    <!--navbar     -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#"> <img src="{%static 'images/homecollate-logo.png'%}" alt="logo" width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WhyUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PartnerWithUs</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            {{user.username}}</a>
                            <div class="dropdown-menu when-show">
                                <a class="dropdown-item" href="#">{{user.username}}</a>
                                <a class="dropdown-item" href="#">{{user.email}}</a>
                                <a class="dropdown-item" href="{% url 'logout' %}" style="color: red">LOGOUT</a>
                            </div>
                        </div>
                        {%else%}
                        <a href="{%url 'login' %}" class="nav-link">Login</a>
                        {%endif%}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main body -->
    {%block element%} {%endblock%}

    <!--- Footer --->
    <footer class="when-show">
        <div class="container">
            <div class="row text-white">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li class="footer-icon"> Head Office:</li>
                    </ul>
                </div>
            </div>
            <div class="row text-white">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li>Homecollate, Gamma 2 ,G-424 , 1st Floor, Greater Noida, 201310 Uttar Pradesh </li>
                        <li>Mob: +919069686844</li>
                        <li>Mail: homecollate@gmail.com</li>
                    </ul>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled ">
                        <li><a href="{%url 'about_us' %}" class="text-white"> About Us</a></li>
                        <li><a href="#" class="text-white">Careers</li>
                        <li><a href="#" class="text-white">Blog</li>
                        <li><a href="{%url 'partner_with_us' %}" class="text-white">Partner With Us</li>
                    </ul>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li><a href="{%url 'faqs' %}" class="text-white">FAQs</li>
                        <!-- <li><a href="#">Learn We Work</li> -->
                        <li><a href="{%url 'privacy' %}" class="text-white">Privacy Policy</li>
                        <li><a href="{%url 'T_C' %}" class="text-white">Terms and Conditions</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3 ">
                    <p><a href="{%url 'index'%}" class="text-white">www.homecollate.com</a></p>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 footer-icon social-icon">
                    <a href="#" class="fa fa-facebook text-white"></a>
                    <a href="#" class="fa fa-twitter text-white"></a>
                    <a href="#" class="fa fa-google text-white"></a>
                    <a href="#" class="fa fa-linkedin text-white"></a>
                    <a href="#" class="fa fa-youtube text-white"></a>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="text-white">Copyright &COPY; 2018 Homecollate | All Rights Reserved. </p>
            </div>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>