{%extends 'base.html'%} {%block element%} {%load static%}
 <!--main body-->
 <div class="outer-margin">
            <div class="container main-body">
                <div class="row">
                    <div class="col-sm-12">

  <h2 class="head2">FAQs(Frequently Asked Questions) </h2>

<p><b>  1) Why we need a comparing website when we could book directly from accomodation websites?</b></p>
<p>Ans: On our website, you can compare different Accomodation companies and their services in just one click. You don't have to run from pillar to post looking for one. (To know more refer <a href="why-us.html">why us </a>)     </p>

 <p><b> 2) Is our personal login data safe here..?</b></p>
<p>Ans: Any personal information provided by the user will be only used to allow you to login to your account or to resolve specific service issues. Any personal data i.e passwords or any information is 100% confidential on HomeCollate.</p>
 <p><b> 3) Why we choose you..?</b></p>
<p>Ans: HomeCollate is the Only digital platform available in India that compare various Accomodation companies in just few clicks. We are the first one to avail this service in our country.
Also, all the properties listed in our website are completely verified to guarantee a safe and secure living experience.     </p>
<p><b>  4) How you ensure that all data provided in your website are correct..? </b></p>
<p>Ans: We have a well qualified team of Data Scientists and Data Analysts who continuously fetch data from the Accomodation company's website and update our data time to time. Also the data shown in our website is verified properly by different resources.    </p>
<p><b>  5) Who we'll be responsible if any problem occur while or after booking from your redirected accomodation websites?</b></p>
<p>Ans: Homecollate is not responsible for any issue during or after the bookings made from websites of Accomodation companies. HomeCollate act as a third party between user and accomodation company and we help them to find each other, we are not responsible for any payments issues.     </p>

<b> CAN'T FIND WHAT YOU ARE LOOKING FOR?   </b>      
          <p>Contact us at: homecollate@gmail.com     
         </p>

</div>
</div>
</div>
</div>
{%endblock%}