{%extends 'base.html'%} {%block element%} {%load static%}

<div class="row search-row">
    <div class="col-sm-2 col-md-2 col-lg-2">

    </div>

    <div class="col-sm-8 col-md-8 col-lg-8" style=" margin-left:25% ; ">

        <div class="header-image">
            <div class="profile-image" class="img-responsive">
                <img src="{%static '/images/emoji-CBM.png'%}" width="63%" />
            </div>
            <form class="example" method="POST" action="{%url 'compare'%}">
                {%csrf_token%}
                <select class="form-group form-control" name="name" style="width:64%">
                    <option value="">Select the City</option>
                    {%for x3 in data%}
                    <option value="{{x3}}">{{x3}}</option>
                    {% endfor %}
                </select>
                <button class="btn-primary search-btn" type="submit"><b style="color:#960240; font-size: 120%; ">Search</b> </button>
            </form>
        </div>

    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 ">
    </div>
</div>

<main>

    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9" style="padding-right: 0px; padding-left: 0px">
            <!-- company 1-->{%csrf_token%}
                {%for show_company in comp_data%}
            <form method="POST" action="{%url 'result'%}">
                <div class="container-fluid" style="width: 123%;margin-bottom:20px; margin-left: 45px; margin-top: 20px;">

                    <div class="row" style=" box-shadow: 10px 10px 12px #888888; border: 2px solid #f2f2f2;">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="box1">
                                <img src="{{show_company.company_logo}}" alt="{{show_company.company}}" class="company-logo">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3" style="padding-right: 18px;">
                            <div class="row">
                                <div class="box2" style="align-content: center;">
                                    <a class="nav-link" style="font-size: 40px;margin-left: 14% ;margin-top: -7%;color: #952e40;" name="company">{{show_company.company}} </a>
                                }
                                </div>
                            </div>
                            <div class="row">
                                <div class="box3">
                                    <a class="nav-link" style="font-size:13px;color: #952e40;">
                                        <p style="margin-bottom: 0px;"><b>Rating:</b> {{show_company.Rating}}/5</p>
                                        <p style="margin-bottom: 0px;"><b>Office Address:</b>{{show_company.company_address}} </p>
                                        <p><b>Review:</b>{{show_company.Review}}</p>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-3 col-md-3 col-lg-3" style="padding-right: 6px; padding-left: 0px;
           border-left: 2px solid white;">
                            <div class="box4">
                                <a class="nav-link" style="font-size:16px;color: #952e40;">
                                    <p style="margin-bottom: 0px;"><b>Minimum Price:</b> {{show_company.priceMini}}</p>
                                    <p style="margin-bottom: 0px;"><b>Miximum Price:</b> {{show_company.priceMaxi}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2" style="border-right: 2px solid white;">
                            <div class="row">
                                <div class="box5">
                                    <a class="nav-link" style="font-size: 16px;color: #952e40;margin-top: -4px;text-align: right;">Total number of <p style="text-align: right;margin-top: -4px;">PGs</p></a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="box6">
                                    <a class="nav-link" style="font-size: 20px;color: #952e40;">
                                        <b>{{show_company.PGnumber}}</b></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2" style="padding-right: 3px; padding-left:3px;">
                            <a class="nav-link" style="color: white ;margin-bottom: -68%;margin-left: 4%;   margin-top: 21.5%;font-size: 37px;">{{show_company.priceMini}}*</a>
                            <div class="box7">
                                <button type="submit"><a class="nav-link btn"style="font-size: 18px;color: #952e40;"><b>Check Now</b></a></button>
                            </div>
            </form>
                        </div>

            </div>
            </div>
            {%endfor%}

            <!-- sidebar-->
            <!--  <div class="col-sm-2 col-md-2 col-lg-2" style="background-color: #930240; margin-left: 61px; margin-top: 20px; box-shadow: 10px 10px 12px #888888; ">

                <div class="row-sm-12 row-md-12 col-md-12">
                    <div class="sidebox">

                        <div class="row">
                            <div class="sidebox1">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox4">

                            </div>
                        </div>

                    </div>

                </div>

                <div class="row-sm-12 row-md-12 col-md-12">
                    <div class="sidebox">
                        <div class="row">
                            <div class="sidebox1">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox4">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row-sm-12 row-md-12 col-md-12">
                    <div class="sidebox">
                        <div class="row">
                            <div class="sidebox1">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="sidebox4">

                            </div>
                        </div>

                    </div>
                </div> -->
        </div>
    </div>
</main>
{%endblock%}