{%extends 'base.html'%} {%block element%} {%load static%}
 <!--main body-->
<div class="outer-margin">
            <div class="container main-body">
                <div class="row">
                    <div class="col-sm-12">
                      <h2>Terms of Service</h2>
<p>homecollate is a PG search and offers users information about different  companies providing PG's.</p>

1. <b>Scope of Service</b>
<p>1.1. These terms and conditions are subject to occasional changes and apply to all our services that are directly or indirectly provided (i.e. via third parties) via the internet, on mobile devices, by email or by telephone. </p>

<p>1.2. By using our website, you confirm that you have read, understood and agree to these terms and conditions, as well as the privacy policy, including the use of cookies.</p>

2. <b>Services and Contract</b>
<p>2.1. On the homecollate website, you have the ability to compare third party services via the homecollate system. </p>

<p>2.2. In addition, Once a booking is made on the website of a third party, a contract is concluded between the PG company and the user, and therefore no contract is concluded between the user and homecollate. homecollate is no contractual party to the PG booking and all and any claims of the user under the PG reservation are to be asserted against the third party (the particular company) and not against homecollate. (homecollate is only the Pg comparing website)</p>

<p>2.3. This agreement is not affected by any other agreements between the PG and users.</p>

3. <b>homecollate Community and Member Area</b>
<p>3.1. Users have the option of joining the homecollate Community (hereafter "Community") and / or creating a member account within the homecollate Member Area. Unregistered users may read the content on homecollate for free. </p>

<p>3.2. Using the homecollate Member Area users have the option to administer and store their searches. In order to create the account users are being asked to provide personal information. Despite from the Users name and email id, no personal information is made visible. For further information please check our privacy policy. By deleting the account any and all of the Users data will be permanently removed. </p>

<P>3.3. A user cannot register multiple times. The user is responsible for the accuracy and completeness of their personal information. </P>

<p>3.4. The user is responsible for the confidentiality of their user account information, in particular their password. They are also responsible for the use of their account with regard to homecollate and third parties. The user should not divulge this data to the use by third parties. </p>

<p>3.5. In the event of unauthorised use of the homecollate services using the wrong username and password, the registered user must notify homecollate immediately.</p>

4. <b>Privacy, Email Advertisements</b>
<p>4.1. The protection of personal data provided by the user is of the highest priority for homecollate. As such, homecollate makes every effort to ensure compliance with data protection. For more information, please read our privacy policy. </p>

<p>4.2. homecollate collects, processes and uses your personal data (hereafter "data") only if we have obtained your consent or a statutory provision allows for the collection, processing or use of your data. </p>

<p>4.3. If the user has agreed to receive information about homecollate during registration for the Community or at another time using homecollates services, the user will receive periodic product information. The consent may be revoked at any time by written communication or by email. The consent to receive emails follows after the confirmation email from homecollate is sent. By clicking on the link in the email, you will be registered to receive newsletters.</p>

5. <b>Termination</b>
<p>5.1. homecollate reserves the right to terminate a user's access and to delete their registration within a period of one week after receipt of relevant information via email about improper use of the website. The user may also terminate their own access and registration within the same period. The right to immediate termination for good cause remains unaffected.</p>

6. <b>Liability</b>
  <p>6.1. homecollate is not liable for the accuracy, quality, completeness, reliability or credibility of content provided by users and/or Company wesbite. In particular, there is no advice or information from homecollate regarding the selection of accommodations.</p> 

<p>6.2. homecollate is not liable for technical malfunctions for which the cause is not within homecollate's sphere of responsibility or for damages caused by force majeure. homecollate does not guarantee uninterrupted availability of data and may perform technical maintenance during a freely chosen time period.</p>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}