{%extends 'base.html'%} {%block element%} {%load static%}
 <!--main body-->
<div class="outer-margin">
            <div class="container main-body">
                <div class="row">
                    <div class="col-sm-12">
                     <h2><b> Why Us</b></h2>
                     
<p>HomeCollate is committed to offering the convinient, fast and simple platform where you can find your dream place to live in.
Homecollate unites the unique experience of comfort living and make you  feel just like your home.
We makes student life easier by providing them the perfect way to choose their PG's according to their accomodation & needs.<br>

The websites that compare PGs can be seen over the internet easily but the website that compare the PG Companies was yet not available. </p>
<div class="row whyus-quote" style="">
<p><br><b>"HomeCollate is the Only digital platform available in India that compare more than 100 PG providing companies in just few clicks."</b><br><br> </p>
</div>
<p>We are the first one to avail this service in our country, which make this concept interesting and completely a unique experience for people.</p>


<h5>OUR PROMISE</h5>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <img src="{%static 'images/security.png'%}" class="img-responsive" width="30%">
<p><b>Security:</b><br> Verified properties to guarantee a safe and secure living experience.</p> </div>
<div class="col-sm-12 col-md-4 col-lg-4">
  <img src="{%static 'images/quality.png'%}" class="img-responsive" width="30%">
<p><b>Quality:</b><br> Value-for-money accommodation designed for students just like you.</p> </div>
<div class="col-sm-12 col-md-4 col-lg-4">
  <img src="{%static 'images/convenience.png'%}" class="img-responsive" width="30%">
<p><b>Covenience:</b><br></b> Enjoy all accommodation-related services under one roof.</p> </div></div>


<h5>WHY VERIFY</h5>
<p>See that symbol that says 'Verified Listing'? What does it mean? Does it mean that we actually physically visit every property to check it out for ourselves? Yes. Simply because almost all the pictures of properties you see online are vastly different from the actual ones. At HomeCollate, what you see, is actually what you get.</p>

<h5>OUR PASSION</h5>
<p>We are passionate and committed in heart and mind to what we do. Our employees work around the clock coming up with ideas for betterment of customers.</p>

<h5>OPENNESS & HONESTY</h5>
<p>We believe that open communication builds trust, which is the foundation of any relationship whether its with  our clients.</p>

<p><b>Are you a PG service provider company:</b><br>
The main goal of any business is always to drive more clients or customers in order to increase profit and sales.  No matter how big or small your business is or wherever your business is located, we can help increase your company's visibility online in order to drive more clients and customers to your business.</p>
<a href="partner-with-us.html">     Become a Partner</a>

                    </div>
                </div>
            </div>
        </div>
{%endblock%}