certifi
chardet
defusedxml
dj-database-url
Django
django-crispy-forms
django-markdown-deux
django-pagedown
gunicorn
idna
markdown2
oauthlib
Pillow
psycopg2
PyJWT
python-social-auth
python3-openid
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
urllib3
whitenoise
django-ratings
django-multiselectfield
django-allauth
